.detail-container img{
    animation: moveitem 3.0s linear infinite alternate;
}

@keyframes moveitem {
    from {
    border-radius: 100px 100px 121px 80px;
    }
    to{
    border-radius: 70px 40px 51px 180px;
    }
}


.contact-links{ 
    right: 40px;
    top: 170px;
    position: fixed;
    display: inline-block;
    background-color: #FE705A;
    padding-top: 20px;
    border-radius: 30px;
    border: 4px solid white;
    z-index: 1000;
}

.contact-links i{
    margin: 10px;
    cursor: pointer;
    color: white;
}

